@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContanerTalwindCss {
  @apply;
}
.mainContainer {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;
  box-sizing: border-box;
}
.boxContainer {
  @apply h-[100px] bg-[#111111] border-4 border-solid border-[#444444] cursor-pointer;
}
.Box {
}

.btnCont {
  @apply flex justify-center items-center mx-autos;
}
.btn {
  @apply bg-black rounded-md text-white  hover:bg-red-600 p-6;
}
